.post-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.post-body{
    background-color: #fff;
}
.post-card h5{
    color: #255285;
    padding: 4px;
    font-size: 18px;
}
.post-card p{
    font-size: 14px;
    padding: 7px;
}
.post-card img{
    border-radius: 5% 5% 0 0;
}